*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
body{

    background-image:linear-gradient(to top,#dd2476,#ff512f);
    background-repeat: no-repeat;
}

.parent{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}
.div1 #p{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 35px;
    font-size: 30px;
    margin: 20px 0px;
    background-color: #00800014;
}
/* #p::after{
    content: "''";
    position: absolute;
    top: 0;
    left: 0;
    color: gainsboro;
    width: 20px;
    height: 20px;
} */
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   width: 100%;
   height: 50vh;
}
.div p{
    font-weight: 600;
    width: fit-content;
    color: #ff1a1a;
    border-radius: 20px;
    background-color: #fffffffb;
    padding: 20px;
    font-size: 30px;
    animation: anime 10s infinite alternate;
}
img{
    width: 80%;
    height: 300px;
}
.div a:link{
    color: inherit;
    text-decoration: none;
}
.div a:visited{
    color: inherit;
}
@keyframes anime{
    0%{
        transform: translate(-250px,-250px) scale(.5);
    }
    20%{
        transform: translate(250px,250px) scale(1);
    }
    40%{
        transform: translate(250px,250px) scale(1.5);
    }
    60%{
        transform: translate(250px,-250px) scale(1.7);
    }
    /* 0% {
        transform: translate(0px,400px) scale(.5);
    }
    10% {
        transform: translate(0px,-300px) scale(1.5) rotate(
    360deg);
    }
    20% {
        transform: translate(100px,100px) rotate(
    0deg);
    }
    30% {
        transform: translate(-100px,-100px) scale(.8);
    } */
    /* 0%{
        transform: translate(0px,400px) scale(.5);
    }
    10%{
        transform: translate(0px,-400px) scale(1.5) rotate(360deg);
    }
    20%{
        transform:translate(100px,200px) rotate(0deg) ;
    }
    30%{
        transform:translate(100px,50px) scale(.8) ;
    }
    40%{
        transform:translate(-100px,50px) scale(1);
    }
    50%{
        transform:translate(100px,200px) scale(2)  ;
    }
    60%{
        transform:translate(100px,-50px) scale(1.5) ;
    }
    70%{
        transform:translate(-100px,-400px) scale(1.3) ;
    }
    80%{
        transform:translate(100px,-50px) ;
    }
    90%{
        transform:translate(-100px,50px) ;
    }
    100%{
        transform:translate(200px,50px) ;
    } */
}
i{
    animation: anime-i 2s  2s infinite;
    color: #ffffffa6;
    position: absolute;
     font-size: 20px;
}
#i1{
    top: 20px;
    left: 5px;
    transform: rotate(-45px);  
}
#i2{
    top: 20px;
    right: 5px;
    transform: rotate(135deg);
}
#i3{
    top: 95vh;
    right: 5px;
    transform: rotate(135deg);
}
#i4{
    top: 95vh;
    left: 5px;
    transform: rotate(-135deg);
}
@keyframes anime-i{
    100%{
        transform: scale(2);
    }
}
